@model MVC_API_Buoi1.Models.DTO.editBookDTO
@{
    var book = ViewBag.Book;
    var listAuthor = ViewBag.listAuthor;
    var listPublisher = ViewBag.listPublisher;
}
<h2>Edit book:</h2>
<form asp-controller="Books" asp-action="editBook" asp-route-id="@book.Id" method="POST">
    <label>Title</label>
    <input type="text" name="title" asp-for="Title" /><br />
    <label>Description</label>
    <input type="text" name="description" asp-for="Description" /><br />
    <label>IsRead</label>
    <input type="radio" name="isRead" asp-for="IsRead" value="True" />
    <label>Yes</label>
    <input type="radio" name="isRead" asp-for="IsRead" value="False" />
    <label>No</label><br />
    <label>DateRead</label>
    <input type="datetime" name="dateRead" asp-for="DateRead" /><br />
    <label>Rate</label>
    <input type="number" name="rate" asp-for="Rate" /><br />
    <label>Genre</label>
    <input type="text" name="genre" asp-for="Genre" /><br />
    <label>Cover Url</label>
    <input type="text" name="coverUrl" asp-for="CoverUrl" /><br />
    <label>DateAdded:</label>
    <input type="datetime" name="dateAdded" asp-for="DateAdded" /><br />
    <label>Publisher:</label>
    <select name="publisherID" asp-for="PublisherID">
        @foreach (var item in ViewBag.listPublisher)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select><br />
    <label>Author:</label>
    <select name="authorIds" asp-for="AuthorIds" multiple>
        @foreach (var item in ViewBag.listAuthor)
        {
            <option value="@item.Id">@item.FullName</option>
        }
    </select><br />
    <input type="submit" value="Save" />
</form>
